@import url('https://fonts.googleapis.com/css2?family=Cursive&display=swap');
body {
    font-family: 'Cursive', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #333;
    padding: 10px 0;
  }
  
  nav {
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .hero {
    text-align: center;
    padding: 50px;
    background-color: #e74c3c;
    color: #fff;
  }
  
  .hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #e74c3c;
    text-decoration: none;
    border-radius: 5px;
  } 
  .gallery {
    text-align: center;
    padding: 50px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }